<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/alchemy.min.css" /></head>
<body>
  <div class="alchemy" id="alchemy"></div>

 <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/alchemy.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/scripts/vendor.js"></script>  <script type="text/javascript">
        var config = {
            dataSource: '/getNetwork',
            nodeCaption: function(node){
            return node.id + " -- " + node.caption + " secs " + node.function;},
             forceLocked: false,
      graphHeight: function(){ return 400; },
      graphWidth: function(){ return 400; },
      linkDistance: function(){ return 40; }
            //nodeCaptionsOnByDefault: true
      };



alchemy.begin(config);



        alchemy = new Alchemy(config)
    </script>
  </body>
</html>
